[submodule "ts-lib"]
	path = ts-lib
	url = https://github.com/JeanMGirard/ts-lib.git
[submodule "react-ts-lib"]
	path = react-ts-lib
	url = https://github.com/JeanMGirard/react-ts-lib.git
[submodule "oas-schema"]
	path = oas-schema
	url = https://github.com/JeanMGirard/oas-schema.git
